.profile__title {
  font-weight: normal;
  font-size: 42px;
  line-height: 1.14;
  min-width: 282px;
  margin: 0;
}
@media screen and (max-width: 366px) {
  .profile__title {
    font-size: 27px;
  }
}