.gallery__like {
  background-image: url('../../../images/heart.svg');
  cursor: pointer;
  min-width: 22px;
  height: 19px;
  background-color: #fff;
  border: none;
  transition: 0.3s;
}
.gallery__like:hover {
  opacity: 0.6;
}